* {box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Roboto',sans-serif;
}

ul {list-style-type: none;}

header {
    background-color: rgb(236, 236, 22);
    padding-bottom: 2em;
}
h2 {font-size: 48px;
font-weight: bold;}
nav {
    display: flex;
    align-items: center;
    padding: 10px 48px 10px 48px;
    justify-content: space-between;
}
.sign-up {
padding: 3px 10px 3px 10px;}

button {background-color: #3882f6;
    border-radius: 5px;}

.links {
    display: flex;
    gap: 5px;
}
a {text-decoration: none;}

.main { margin-left: 10px;
    display: flex;
}
.container {display: flex;
flex-direction: column;
width: 300px;}
.title {display: flex;
justify-content: center;
font-size: 36px;
font-weight: bold;
color: #1F2937;
margin: 20px;}
.content {display: flex;
justify-content: space-around;
margin-bottom: 48px;}
.info {display: flex;
flex-direction: column;
width: 200px;
align-items: center;}

.icon {height: 100px;
width: 100px;}


.quote {background-color: #E5E7EB;
height: 40dvh;
}
.quote-container {display: flex;
    justify-content: center;
    align-items: center;
height: 200px;}
.quote1 {width: 400px;}
.CEO {display: flex;
justify-content: center;}


footer {
display: flex;
justify-content: center;}
.card {margin: 54px;
    background-color: #3882f6;
    padding: 20px 42px 20px 42px;
    width: fit-content;
display: flex;
border-radius: 10px;}

.sign-up2 {margin-left: 30px;
width: 100px;
border-color: white;}